html {
    font-size: 50%;
    box-sizing: border-box;
    @media (min-width: $break) {
        font-size: 62.5%;
    }
}

*, *:after, *:before {
    box-sizing: inherit;
  }

body {
    background: $cream;
    font-family:  $primary-font;
    font-size: $font-size-base;
    color: $brown;
    line-height: $line-height-standard;
}

.container {
    max-width: 100%;
    width: 750px;
    margin: 0 auto;
    padding: 0 $container-padding;
}
