
/* types of buttons */
.button {
    @extend %button-base;
    background: $yellow;
    &:hover, &:focus {
        background: $yellower;
    }
}

// stop looking like a button even though you is
.un-button {
    @include button-text();
    @include un-button();
    font-size: $font-size-button;
}

// .outline-button {
//     @extend %button-base;
//     border: 3px solid $dust;
//     background: $cream;
//     box-shadow: none;
//     &:hover, &:focus {
//         box-shadow: none;
//     }
//     &:active {
//         box-shadow: none;
//     }
// }

/* modifiers */

.button--important {
    background: $orange;
    &:hover, &:focus {
        background: $oranger;
    }
}

.button--danger {
    background: $red;
    color: #fff;
    &:hover, &:focus {
        background: $redder;
    }
}

.button--large {
    padding: 1.3rem 2.1rem;
    font-size: $font-size-secondary;
}

.un-button--danger {
    color: $red;
    &:hover, &:focus {
        color: $redder;
    }
}