.form-item {
    margin: $el-spacing-lg 0 0;
}

.form-item-short {
    margin: $el-spacing 0 0;
}

/* labels */

.form-item > label {
    display: block;
    @include small-title();
}

.form-item__text {
    margin-bottom: 2rem;
}

/* fields */

%field-base {
    background: $fat-free-cream;
    @include novelty-body-text();
    width: 100%;
    padding: 0;
    padding: $field-padding;
    border: none;
    border-bottom: $field-border;
    border-radius: $border-radius;
}

input[type="text"] {
    $space-adjust: 4px;

    @extend %field-base;
    height: $input-height;
    padding-top: calc(#{$field-padding} + #{$space-adjust});
    padding-bottom: calc(#{$field-padding} - #{$space-adjust});
}

textarea {
    @extend %field-base;
}

/* groupings */

.field-button-stack {
    text-align: right;
    > input {
        margin-bottom: 2rem;
    }
}

/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $dust;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $dust;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $dust;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $dust;
  }