$checkbox-size: 3rem;

.checkbox-label {
    display: block;
    position: relative;
    padding-left: ($checkbox-size + 1.5rem);
    cursor: pointer;
}

.checkbox-label input {
    height: 1px!important;
    width: 1px!important;
    opacity: 0;
}

.checkbox-label .outer {
    display: inline-block;
    position: absolute;
    left: 0;
    top: calc(50% - 0.1rem);
    width: $checkbox-size;
    height: $checkbox-size;
    border: $field-border;
    background: $fat-free-cream;
    border-radius: $border-radius;
    transform: translateY(-50%);
}

.checkbox-label .inner {
    position: absolute;
    transform: rotate(56deg) skew(16deg) scale(0.6);
    display: inline-block;
    height: 2.2rem;
    width: 1rem;
    left: 0.8rem;
    top: 0px;
    border: 0.3rem solid $brown;
    border-top: none;
    border-left: none;
    opacity: 0;
    transition: transform 100ms, opacity 100ms;
} 

.checkbox-label input:focus+.outer,
.checkbox-label input:hover+.outer {
    // border-color: #7ec4c1;
}

.checkbox-label input:checked+.outer .inner {
    transform: rotate(56deg) skew(16deg) scale(1);
    opacity: 1;
}