$curve: 0.215, 0.61, 0.355, 1;

.ingredient-frame {
    @include box-border();
    height: 270px;
    overflow: hidden;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @include frameGradient();
}

.ingredient-frame__item {
    position: relative;
    z-index: 0;
    &:before {
        content: '';
        position: absolute;
        top: 96%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 110px;
        opacity: 0.6;
        @include shadowGradient();
        z-index: -1;
        opacity: 0;
        animation: drop-shadow 400ms ease 1100ms 1 normal forwards;
    }
}

.ingredient-frame__item > img {
    display: block;
    transform: translateY(-250px);
    animation: drop-ingredient 500ms cubic-bezier($curve) 1000ms 1 normal forwards;
}

@keyframes drop-ingredient {
    to {
        transform: translateY(0)
    }
}

@keyframes drop-shadow {
    to {
        opacity: 1;
    }
}