a {
    color: $brown;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.reverse-link-underline {
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: underline;
    }
}