.list-box {
    display: block;
    background: #fff;
    border: 3px solid #000;
    border-radius: $border-radius;
    padding: 3rem;
    
    & + .list-box {
        margin-top: $block-margin;
    }
}