.media-block img {
  margin: $el-spacing-sm 0 0 0;
}

.media-block > div {
  @include child-margin-clear;
}

.media-block h2 {
  margin: 0 0 0.5rem 0;
  line-height: 1;
}

@media (min-width: $break) {
  
  .media-block {
    display: flex;
    align-items: flex-start;
  }
  
  .media-block img {
    margin: 0 $el-spacing 0 0;
  }

  .media-block > div {
    flex: 1;
  }

}