.media {
    display: table;
    width: 100%;
}

    .media__image,
    .media__body {
        display: table-cell;
        vertical-align: middle;

        .media--top & {
            vertical-align: top;
        }

        .media--bottom & {
            vertical-align: bottom;
        }

    }

    .media__image {
        padding-right: 10px;

        > img {
            display: block;
            max-width: none;
        }

        .media--rev & {
            padding-right: 0;
            padding-left: 10px;
        }

    }

    .media__body {
        width: 100%;
    }