.media-block img {
  margin: $el-spacing-sm 0 0 0;
}

.media-block > div {
  @include child-margin-clear;
  margin-top: $el-spacing-sm;
}

.media-block h2 {
  margin: 0;
  line-height: 1;
}

.media-block p {
  &:first-of-type {
    margin-top: 1rem;
  }
  &:last-of-type {
    margin-bottom: 3rem;
  }
}

@media (min-width: $break) {
  
  .media-block {
    display: flex;
    align-items: flex-start;
  }
  
  .media-block img {
    margin: 0 $el-spacing 0 0;
  }

  .media-block > div {
    flex: 1;
    margin-top: 0;
  }

}