.header {
    margin-top: 6rem;
}

.logo {
    display: inline-block;
    > svg {
        display: block;
        max-width: 100%;
    }
}

.main {
    margin-bottom: 14rem;
}

.footer {
    background: $brown;
    padding: 2rem 0 1.5rem;
    color: $pebble;
    a {
        @include reverse-link-underline();
        color: $pebble;
    }
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}