.header {
    margin-top: 6rem;
}

.logo {
    display: inline-block;
    > svg {
        display: block;
        max-width: 100%;
    }
}

.main {
    margin-bottom: 14rem;
}

.footer {
    margin-bottom: 2rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}