.speech-bubble {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../images/speech-bubble-small.svg');
}

.speech__dialogue {
    margin: 0;
    @include novelty-body-text();
    font-size: 2.8rem;
    height: 24.5rem;
    width: 70%;
    margin-left: 15%;
    padding-top: 14%;
}



.speech__button {
    $short-transition: 500ms;
    @include un-button();
    position: absolute;
    transform: translateY(-50%);
    right: 34px;
    bottom: 25px;
    opacity: 1;
    transition: opacity $short-transition $transition-ease;

    img {
        will-change: transform;
        animation: swing-star 1.6s linear infinite normal forwards;
    }
    
    &:disabled {
        opacity: 0.8;
        img {
            animation: none;
        }
    }
}

@keyframes swing-star {
    0%, 50%, 100% {
        transform: rotate(0) scale(1);
    }
    30% {
        transform: rotate(-10deg) scale(1.04);
    }
    80% {
        transform: rotate(10deg) scale(1.04);
    }
}

@media (min-width: $break) {
    .speech-bubble {
        background-image: url('../images/speech-bubble.svg');
    }

    .speech__dialogue {
        font-size: $font-size-secondary;
        height: 27.7rem;
    }

    .speech__button {
        right: 55px;
        bottom: 50px;
    }
}

@media (min-width: $break-lg) {
    .speech__dialogue {
        padding-top: 7.5rem;
    }
}