.speech-bubble {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../images/speech-bubble-small.svg');
}

.speech__dialogue {
    margin: 0;
    @include novelty-body-text();
    font-size: 2.8rem;
    height: 24.5rem;
    width: 70%;
    margin-left: 15%;
    padding-top: 14%;
}

.speech__button {
    @include un-button();
    position: absolute;
    transform: translateY(-50%);
    right: 34px;
    bottom: 25px;
}

@media (min-width: $break) {
    .speech-bubble {
        background-image: url('../images/speech-bubble.svg');
    }

    .speech__dialogue {
        font-size: $font-size-secondary;
        height: 27.7rem;
    }

    .speech__button {
        right: 55px;
        bottom: 50px;
    }
}

@media (min-width: $break-lg) {
    .speech__dialogue {
        padding-top: 7.5rem;
    }
}