h1, h2, h3, h4, h5, h6 {
    color: $brown
}

h1, h2, h3 {
    font-family: $secondary-font;
    font-weight: $fw-normal;
    line-height: $line-height-short;
    margin: $el-spacing-lg 0 $el-spacing-sm;
}

h4, h5, h6 {
    font-weight: $fw-bold;
    text-transform: uppercase;
    margin: $el-spacing-sm 0;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

p {
    margin: $el-spacing-sm 0;
}

.text-center {
    text-align: center;
}

.title-bigger {
    font-size: $font-size-title-bigger;
}

.novelty-body-text {
    @include novelty-body-text;
}

.plus-one-spacer {
    display: inline-block;
    width: 0.3rem;
}