h1, h2, h3, h4, h5, h6 {
    color: $brown
}

h1, h2, h3 {
    font-family: $secondary-font;
    font-weight: $fw-normal;
    line-height: $lh-short;
}

h4, h5, h6 {
    font-weight: $fw-bold;
    text-transform: uppercase;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

p {
    margin: ($el-spacing/2) 0;
}

.secondary-body {
    @include secondary-body;
}