// Colors 
$cream: #F9EACA; // background
$brown: #46321D; // text
 
// Spacing
$container-padding: 2rem;
$standard-margin: 3.5rem;

// Font
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Indie Flower', cursive;

$fw-normal: 400;
$fw-bold: 700; // only for open sans

// Font Sizes
$font-size-base: 1.6rem;
$font-size-h2: 5rem;
$font-size-h3: 4rem;
 
// Other
$border-radius: 3px;
