// Colors 
$cream: #F9EACA; // background
$fat-free-cream: #fcf5e3; // fileds
$brown: #46321D; // text
$dust: #9E8674;
$red: #DF3034;
$redder: #DF3034;
$orange: #FFA33E;
$oranger: #FFA33E;
$yellow: #FBEF50;
$yellower: #FBEF50;
 
$table-brown: #664431;
$wall-yellow: #FBF5A8; 
$wall-yellow-shadow: #E3BF96;

// Spacing
$el-spacing: 3rem;
$el-spacing-lg: 6rem;
$container-padding: 2rem;
$block-margin: 3.5rem;

// Font
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Indie Flower', cursive;
$fw-normal: 400;
$fw-bold: 700; // only for open sans
$line-height-standard: 1.6;
$line-height-short: 1;

// Font Sizes
$font-size-base: 1.6rem;
$font-size-secondary: 3rem;
$font-size-button: 2.3rem;

$font-size-title-bigger: 5rem;
$font-size-h1: 4.7rem;
$font-size-h2: 4rem;
$font-size-h3: 3.7rem;
 
// Form Fields
$input-height: 4.7rem;
$field-padding: 1.5rem;
$field-border: 2px solid $brown;

// Other
$border-radius: 3px;
$break: 500px;
